@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;

}

body {
	font-family: sans-serif;
	background: url("imgs/cooking-food.jpg")no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.inicio {
	position: relative;

}

.inicio:hover #logo123 {
	opacity: 0.3;
}

.inicio:hover .medio {
	opacity: 1;
}

.text {
	background-color: #4caf9e;
	color: white;
	font-size: 32px;
	padding: 16px 32px;
	font-family: cursive;
	transition: 2.2 ease-in-out;
}

.medio {
	transition: .5ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#logo123 {
	width: 100%;
	height: auto;
	transform: none;
	opacity: 1;
	display: block;
	transition: .5 ease;
	backface-visibility: hidden;
}

header {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 25px;
	color: black;
	background-color: white;
}

h1 {
	margin-left: 12px;
}

#title {
	width: 27%;
	background-color: firebrick;
	padding: 12px;
	color: wheat;
	border-radius: 9px;
	font-family: cursive;
	margin: 28px 0px;
}

.encabezado {
	width: 30%;
	text-align: center;
	margin-left: 420px;
	background-color: #309c1a;
	padding: 9px;
	border-radius: 8px;
	color: whitesmoke;

}


.titulo {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	margin: 0;
	padding: 0;
	display: inline;
	color: crimson;
	float: left;
	overflow: hidden;
}


nav {
	border: 1px solid #ABABAB;
	overflow: hidden;
	width: 100%;
	padding: 0;
	position: relative;
	margin: 0;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

ul {
	list-style: none;
	overflow: hidden;
}

li {
	margin: auto;
	float: left;
}

.con {
	margin-left: 570px;
	overflow: hidden;
}

.menu li a {
	color: black;
	font-size: 20px;
	text-decoration: none;
	padding: 8px 15px;
	display: block;
}

.menu li a:hover {
	color: darkorange;
}

.menu li ul {
	display: none;
	position: absolute;
	min-width: 140px;
}

div .card {
	transition: all .2s;
	cursor: pointer;
	box-shadow: 0 5px 10px rgb(0 0 0 / 11%);
	border-radius: 20px;
	background: #fff;
	width: 25%;
	float: left;
	margin-left: 70px;
	margin-bottom: 25px;
	overflow: hidden;
}

.bienvenida {
	background-color: #f8f8f8;
	padding: 8px;
}



img {
	border-radius: 8px 8px 0 0;
	height: 220px;
	width: 320px;
}

hr {
	padding: 0.7px;
}

hr:hover {
	background-color: #309c1a;
}

img:hover {
	transform: scale(1.1);
	transition: all .5s ease-in-out;
}

.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.container {
	padding: 0 15px 13px 15px;
	text-align: center;
}

.row {
	float: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

button {
	width: 100%;
	border: none;
	text-align: center;
	cursor: pointer;
	background: #193694;
	border-radius: 32px;
	color: #ffffff;
	line-height: 1.5;
	font-size: 14px;
	font-family: sans-serif;
	overflow: hidden;
	height: 43px;
}

.bienvenida .covid {
	display: block;
}

.bienvenida {
	margin: auto;
	max-width: 1000px;
	text-align: justify;
}

.covid,
.texto {
	margin: auto;
	color: rgb(235, 46, 46);
	background-color: #7cdbcb;
	padding: 18px;
	max-width: 1000px;
	margin: 35px 220px;
	text-align: justify;
	font-family: cursive, 'Sansita Swashed';
}

.texto {
	margin: auto;
	text-align: justify;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	max-width: 1000px;
}

.pregunta {
	max-width: 1500px;
	margin: auto;
	text-align: center;
}

h3 {
	max-width: 1500px;
	margin: auto;
	text-align: center;
}

#imagen {
	width: 25%;
	height: 100%;
	padding: 12px;
	border-radius: 12px;
	background-color: blanchedalmond;
}

#imagen:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

table {
	max-width: 1500px;
	margin: auto;
	width: 60%;
	border-collapse: collapse;
}

td:hover {
	background-color: #dbd8d8;
}

table,
th,
td {
	padding: 10px;
	border: 1px solid black;
}

.pie {
	background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
	padding: 5px;
	margin: 0;
	overflow: hidden;
}

.pie-fl {
	display: inline;
	float: left;
	margin: 0;
	margin-left: 160px;
	padding: 10px;
}

.formu {
	margin-top: 25px;
	background: rgba(0, 0, 0, 0.4);
	padding: 15px;
	font-family: cursive;
	width: 35%;
	text-align: center;
	margin-left: 380px;
	color: white;
}

input {
	width: 100%;
	height: 35px;
	border-radius: 4px;
	padding: 5px 13px;
	margin: 5px;
	border: none;
	font-family: cursive;
}

textarea {
	width: 100%;
	border-radius: 4px;
	margin: 5px;
	padding: 8px;
}

#btnenviar {
	background-color: #d4fc79;
	color: black;
	border-radius: 4px;
	padding: 5px 19px;
	margin-top: 5px;
	border: none;
	cursor: pointer;
	text-align: center;

}


h5 {
	color: maroon;
	text-align: center;
}

.lista {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	width: 150px;
}

.lista li {
	color: tomato;
	font-size: 15px;
	text-decoration: none;
	text-align: justify;
	padding: 2px 5px;

}

.lista li:hover {
	color: darkgreen;
}

@media only screen and (max-width: 768px) {

	body {
		background-color: aqua;
	}

}