body {
    margin: 0;
    font-family: cursive;
    overflow: auto;
    position: relative;
    background-color: rgb(245, 241, 186);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: gray;
    padding: 12px 19px;
    text-decoration: none;
}

li a.active {
    background-color: #D3F841;
    color: black;
}

li a:hover:not(.active) {
    background-color: cornflowerblue;
    color: white;
}

.content {
    margin-left: 16%;
    padding: 1px 6px;
    height: 1000px;
}

span {
    background-color: coral;
    padding: 2.7px;
    border-radius: 8px;
}

.span {
    color: crimson;
    background-color: transparent;
}

h4 {
    color: rgb(3, 172, 184);
}

h4:hover {
    font-weight: 500;
    cursor: auto;
    color: rgb(71, 151, 216);
    text-decoration: underline;
}


.imagen-right {
    height: 276px;
    width: 265px;
    float: left;
    cursor: pointer;
}

.imagen-right:hover,
.imagen-left:hover {
    transform: scale(1.1);
    transition: all .5s ease-in-out;

}

.imagen-left {
    height: 250px;
    width: 230px;
    float: right;
    cursor: pointer;
}


.card {
    margin-bottom: 25px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 11%);
    border-radius: 20px;
    background: #fff;
    width: 87%;
    overflow: hidden;
    margin-left: 80px;
}

.card:hover {
    background-color: rgb(240, 193, 193);
}

.siguiente {
    text-decoration: none;
    color: darkviolet;
}

.siguiente:hover {
    text-decoration: underline;
    color: darkred;
}


.co {
    max-width: 1000px;
    margin: 5px 32px;
    font-size: 19px;
}

.container {
    padding: 0px 25px;
    float: left;
    overflow: hidden;
    text-align: justify;
    margin: 0px 2px;
}

button {
    width: 100%;
    border: none;
    text-align: center;
    cursor: pointer;
    background: #193694;
    border-radius: 32px;
    color: #ffffff;
    line-height: 1.5;
    font-size: 14px;
    font-family: sans-serif;
    overflow: hidden;
    height: 43px;
}

button:hover {
    background-color: seagreen;

}

.conocer {
    color: white;
    text-decoration: none;
}

.conocer:hover {
    color: brown;
}

.imagen {
    width: auto;
    height: auto;
    background-color: burlywood;
    border-radius: 9px;
    margin-left: 280px;
}

.general {
    padding: 6px;
    margin: auto;

}